@import url("reset.css");
@import url("base.css");
@import url("colors.css");
@import url("header.css");
@import url("animations.css");
@import url("queries.css");
@import url("footer.css");
body {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    animation: 1500s ease-in-out bgChange infinite;
}

#main {
    display: block;
    position: absolute;
    left: 16%;
    top: 5%;
    right: 4%;
    bottom: 5%;
    width: 82%;
    height: 100%;
}

.alert {
    display: block;
    width: 97%;
    height: 5%;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alert alert-danger {
    line-height: 1em;
    color: white;
    background-color: red;
}

.alert alert-success {
    line-height: 1em;
    color: white;
    background-color: green;
}

table {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

th {
    width: 8%;
    height: 8%;
    padding: 2%;
    margin-bottom: 0.2%;
    text-align: center;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
    width: 8%;
    height: 8%;
    padding: 2%;
    margin-bottom: 0.2%;
    text-align: center;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th:first-child {
    max-width: 2%;
}

th:nth-last-child(1) {
    max-width: 20%;
}

td:first-child {
    max-width: 2%;
}

td:nth-last-child(1) {
    max-width: 20%;
}

.title1 {
    grid-area: one;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title2 {
    grid-area: two;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title3 {
    grid-area: three;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title4 {
    grid-area: four;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title5 {
    grid-area: five;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title6 {
    grid-area: six;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title7 {
    grid-area: seven;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title8 {
    grid-area: eight;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title9 {
    grid-area: nine;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title10 {
    grid-area: ten;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title11 {
    grid-area: eleven;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title12 {
    grid-area: twelve;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title13 {
    grid-area: thirteen;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.title14 {
    grid-area: fourteen;
    background-color: var(--requete-text);
    color: var(--requete-bg);
}

.req1 {
    grid-area: one;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req2 {
    grid-area: two;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req3 {
    grid-area: three;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req4 {
    grid-area: four;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req5 {
    grid-area: five;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req6 {
    grid-area: six;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req7 {
    grid-area: seven;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req8 {
    grid-area: eight;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req9 {
    grid-area: nine;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req10 {
    grid-area: ten;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req11 {
    grid-area: eleven;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req12 {
    grid-area: twwelve;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req13 {
    grid-area: thirteen;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

.req14 {
    grid-area: fourteen;
    background-color: var(--requete-bg);
    color: var(--requete-text);
}

button {
    width: 2rem;
    height: 2rem;
    border: none;
    filter: invert(90%);
    transition: 0.8s ease-in-out;
}

button:hover {
    transform: scale(1.5);
    filter: invert(0);
}

#new {
    background-image: url(../../img/new.svg);
    background-size: cover;
}

#edit {
    background-image: url(../../img/edit.svg);
    background-size: cover;
}

#del {
    background-image: url(../../img/del_noir.svg);
    background-size: cover;
}